.bg-image {
    background-image: url('https://media.tudorwatch.com/image/upload/q_auto/f_auto/c_limit,w_1920/v1/tudorwatch/homepage/new-watches-2025/tudor-watch-homepage-background-slider-novelties');
    background-size: cover;
    background-position: center;
}