@tailwind base;
@tailwind components;
@tailwind utilities;

.theme-toggle-wrapper {
  cursor: pointer;
}

html,
body {
  transition: background-color 0.3s ease, color 0.3s ease;

  overflow-y: scroll;
  /* allow scrolling */
  scrollbar-width: none;
  /* Firefox */
}

body::-webkit-scrollbar {
  display: none;
  /* Chrome, Safari */
}

.toggle {
  position: relative;
  width: 60px;
  height: 30px;
  border-radius: 9999px;
  background-color: #f3f4f6;
  transition: background-color 0.3s ease;
  display: flex;
  align-items: center;
  padding: 0 5px;
  box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.2);
}

.toggle.dark {
  background-color: #4b5563;
}

.icon {
  font-size: 16px;
  width: 20px;
  text-align: center;
  z-index: 2;
  pointer-events: none;
}

.sun {
  color: #f59e0b;
}

.moon {
  color: #f9fafb;
  margin-left: auto;
}

.ball {
  position: absolute;
  width: 24px;
  height: 24px;
  border-radius: 9999px;
  background: white;
  top: 3px;
  left: 3px;
  transition: transform 0.4s ease;
  z-index: 1;
}

.toggle.dark .ball {
  transform: translateX(30px);
}

.nav-link-item.active {
  color: #0070f3;
  border-bottom: 2px solid #0070f3;
}



@media screen and (max-width: 991px) {
  .customized-timeline .p-timeline-event:nth-child(even) {
    flex-direction: row !important;
  }

  .customized-timeline .p-timeline-event:nth-child(even) .p-timeline-event-content {
    text-align: left !important;
  }

  .customized-timeline .p-timeline-event-opposite {
    flex: 0;
  }

  .customized-timeline .p-card {
    margin-top: 1rem;
  }
}